<header>
    <h1>{{ currentTrackData.name }}</h1>
    <div class="example-button-container">
        <button [routerLink]="['/home/all-tracks']" mat-mini-fab color="primary">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</header>
<section>
    <div class="user-action-field">
        <mat-form-field>
            <mat-label>Choose a class</mat-label>
            <mat-select [(ngModel)]="carClass" (ngModelChange)="onChange()">
                <mat-option value="gt3">GT3</mat-option>
                <mat-option value="hypercars">Hypercars</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button class="add-btn" color="primary" (click)="openDialog()"> ADD NEW DRIVER</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Driver</th>
                <th>Car</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @for (data of currentTrackData[carClass]; track $index) {
            @if (data) {
            <tr>
                @if(getTrophyByRank($index +1) !== null) {
                <td><img class="trophy-image" [src]="getTrophyByRank($index +1)" alt="index"></td>
                }@else {
                <td><span class="index">{{ $index +1 }}</span></td>
                }
                <td>{{ data.driver }}</td>
                <td>{{ data.car }}</td>
                <td>{{ data.time }}</td>
            </tr>
            }@else {
            }
            }
        </tbody>
    </table>
</section>