<section>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG:</p>
    <p>
        Max Mustermann<br>
        Musterstraße 1<br>
        12345 Musterstadt
    </p>
    <p>Kontakt:</p>
    <p>
        E-Mail: <a href="mailto:max.mustermann@example.com">max.mustermann&#64;example.com</a><br>
        Telefon: 01234/567890
    </p>
    <p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
    <p>
        Max Mustermann<br>
        Musterstraße 1<br>
        12345 Musterstadt
    </p>
    <h2>Haftung für Inhalte</h2>
    <p>
        Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
        Gesetzen
        verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
        gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
        Tätigkeit hinweisen.
    </p>
    <h2>Haftung für Links</h2>
    <p>
        Alle enthaltenen Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
        können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist
        stets
        der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
    </p>
</section>