section {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #0a0d11,
    #15181d,
    #1c2229,
    #242c35,
    #2b3742
  );
}
