main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 500px;
  gap: 24px;
}

mat-card-subtitle {
  color: greenyellow;
}

mat-card {
  height: 250px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

.article-card {
  display: flex;
  width: 500px;
  height: fit-content;

  .patch-notes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

