<main>
    <mat-card>
        <mat-card-header>
            <div class="header">
                @if(joke !== {}) {
                <mat-card-title>{{ joke.setup }}</mat-card-title>
                }
                @if(revealPunchline) {
                <mat-card-subtitle>{{ joke.punchline }}</mat-card-subtitle>
                }
            </div>
        </mat-card-header>
        <mat-card-actions>
            <button (click)="punchline()" mat-button>Punchline</button>
            <button (click)="newJoke()" mat-button>New Joke</button>
        </mat-card-actions>
    </mat-card>
    <article>
        <mat-card class="article-card">
            <mat-card-header class="patch-notes-container">
                <mat-card-title>2024 Season 2 Patch 5 Release Notes [2024.05.14.03]</mat-card-title>
                <mat-card-subtitle>Modified on: Thu, May 16, 2024 at 8:05 AM</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        -------------------------- <br>
                        - Audio <br>
                        - Fixed a crash issue when the XAudio device fails. <br>
                        - Physics <br>
                        - Some additional protections for unrealistic physics values for friction torque have been added
                        - to prevent “zippy” events. <br>
                        - Some additional protections for unrealistic physics values for wheel, rim, and tire impact
                        - torques have been added to prevent “zippy” events. <br>
                        - Rendering <br>
                        - Reduced issues with headlights that caused them to not light the environment properly. <br>
                        - CARS: <br>
                        -------------------------- <br>
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
    </article>
</main>