<main>
    <mat-card class="card">
        <mat-card-content (click)="openDialog()">
            <img src="img/jens.png" alt="">
            <span class="driver-name">Jens Gartsch</span>
        </mat-card-content>
      </mat-card>
    <mat-card class="card">
        <mat-card-content (click)="openDialog()">
            <img src="img/jens.png" alt="">
            <span class="driver-name">Name</span>
        </mat-card-content>
      </mat-card>
    <mat-card class="card">
        <mat-card-content (click)="openDialog()">
            <img src="img/jens.png" alt="">
            <span class="driver-name">Name</span>
        </mat-card-content>
      </mat-card>
    <mat-card class="card">
        <mat-card-content (click)="openDialog()">
            <img src="img/jens.png" alt="">
            <span class="driver-name">George</span>
        </mat-card-content>
      </mat-card>
    <mat-card class="card">
        <mat-card-content (click)="openDialog()">
            <img src="img/jens.png" alt="">
            <span class="driver-name">Marcel</span>
        </mat-card-content>
      </mat-card>
    <mat-card class="card">
        <mat-card-content (click)="openDialog()">
            <img src="img/jens.png" alt="">
            <span class="driver-name">Name</span>
        </mat-card-content>
      </mat-card>
    
</main>