<section>
    <div>
        <mat-form-field class="search-input">
            <mat-label>Search for a clip</mat-label>
            <input matInput type="file">
            <button matSuffix mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <mat-card>
        <mat-card-content>
            <mat-card-header>
                <h1>MY Clip</h1>
            </mat-card-header>
            <video controls>
                <source src="clips/knife vs scout.mp4" type="video/mp4">
            </video></mat-card-content>
    </mat-card>
</section>