mat-drawer-container {
  height: 100svh;
  background-image: linear-gradient(
    to right top,
    #0a0d11,
    #15181d,
    #1c2229,
    #242c35,
    #2b3742
  );

  mat-toolbar {
    height: 10%;
    background-color: transparent;
    gap: 8px;
    padding: 50px;

    h1 {
      font-size: 40px;
    }
    mat-icon {
      cursor: pointer;
    }
  }

  header {
    height: 15%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    span {
      font-size: 20px;
    }
  }

  .sidenav {
    width: 320px;
    background-color: transparent;
    border-right: 1px solid gray;
  }

  .sidenav-links {
    display: flex;
    margin-top: 80px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 16px;

    a {
      color: rgba($color: rgb(212, 212, 212), $alpha: 1.0);
      width: 100%;
      padding: 16px 0 16px 25%;
      font-size: 28px;
      box-sizing: border-box;
      text-decoration: none;

      &:hover {
        background-color: #61656B;
      }
    }
  }
}

section {
  padding: 50px;
}
