@use "@angular/material" as mat;
@use "sass:map";
@include mat.core();
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
    ),
  )
);

html,
body {
  @include mat.all-component-colors($dark-theme);
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --mdc-elevated-card-container-shape: 8px;
}

* {
  color: rgb(212, 212, 212);
}

.mat-drawer-content {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

mat-checkbox {
  display: flex;
  align-self: center;
  margin-bottom: 22px;
}

.snackBarStyle button {
  background-color: red !important;
}

.snackBarPosition {
  margin-bottom: 50px !important;
}

@import "@angular/material/prebuilt-themes/indigo-pink.css";
