<mat-drawer-container class="example-container" autosize>
    <mat-toolbar>
        <div class="headline-menu-container">
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            <h1 class="title">Time Attack</h1>
        </div>
        <button (click)="logoutAndDeleteCurrentUser()" mat-flat-button color="warn">Logout</button>
    </mat-toolbar>
    <mat-drawer class="sidenav" mode="side" #drawer [opened]="true">
        <div (click)="openDialog()" class="profile-container">
            <img [src]="userService.currentUserProfile?.profileImageUrl || 'img/ph-profil-pic.jpg'" alt="">
            <h4>{{ userService.currentUser?.displayName }}</h4>
        </div>
        <div class="sidenav-links">
            <a [routerLink]="['all-tracks']">Tracks</a>
            <a [routerLink]="['team']">Team</a>
            <a [routerLink]="['clips']">Clips</a>
        </div>
    </mat-drawer>
    <section>
        <router-outlet></router-outlet>
    </section>
</mat-drawer-container>